div.gallery{
    margin:5px;
    border:2px solid black;
    float:left;
    width:250px;
}
div.gallery:hover{
    border:3px solid blue;
}
div.gallery img{
    width:100%;
    height: auto;

}
div.desc{
    padding: 10px;
    text-align :right;
}