h1{
    text-align: right;
    color:blue;
}
#center{
    text-align: center;
    color:brown;
    background-color: bisque;
    opacity:0.5;
}
#para2{
    font-size: 200px;
 text-align: right;
 color:aquamarine;
}
body{
    background-color: blueviolet;
    background-image:url("images/images.jpg");
   
    background-repeat:repeat-x;
}
p.dash{
    border-style: dashed;
    font-size:50px;
    color:blue;
    border-width:10px;
    border-width:5px 20px ;
    border:2px solid red;
}
p.dotted{
    border-style:solid;
    border-color:green;
    border-style:dotted solid double;
    border-left:6px solid red;
    border-bottom:6px solid red;

